/* Reset browser defaults */
/* --------------------------------------------------------------
Reset default browser CSS.
Based on work by Eric Meyer:
* http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
/* v1.0 | 20080212 */
  
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    background: #FFF;
    text-align: left;
    font-feature-settings: "liga" 0;
    -moz-font-feature-settings: "liga" off;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
/* remember to define focus styles! */

:focus {
    outline: 0;
}
/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}
/* Typography */

ul,
li {
    list-style-type: disc;
    margin: 0 0 0 10px;
    padding: 0;
}

ul li {
    margin: 0 0 0 13px;
}

.clear {
    clear: both;
    height: 0;
}

br.clear {
    line-height: 0;
}

div.name {
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    font-variant: small-caps;
    color: #030;
}

div.logo {
    display: none;
}

div.paragraph {
    position: relative;
}

div.heading {
    clear: both;
    font-weight: bold;
    font-variant: small-caps;
}

div.address {
    position: relative;
    text-align: center;
    font-size: 0.917em;
    line-height: 1.25em;
    margin-top: 11px;
    word-wrap: break-word;
}

div.address2 {
    position: relative;
    text-align: left;
    font-size: 0.917em;
    line-height: 1.25em;
}

span.paddedline {
    display: block;
}

span.jobtitle,
span.companyname,
span.degree,
span.programline {
    font-weight: bold;
}

span.degree,
span.programline,
span.jobtitle {
    color: #030;
}

span.companyname,
span.jobcity,
span.jobstate {
    font-style: italic;
}

span.dates_wrapper {
    display: block;
    float: left;
    color: #999;
}

.table_wrapper {
    width: 100%;
    margin-top: 0;
}

table.twocol td {
    width: 50%;
}

table.skills,
table.twocol {
    width: 100%;
}

table.skills th,
table.skills td {
    width: 20%;
    text-align: center;
}

table.skills th {
    text-decoration: underline;
}

table.skills .skillname,
table.skills .skillrating {
    text-align: left;
    width: 35%;
}

table.skills .skillrating {
    width: 20%;
}

table.skills .skillyears,
table.skills .skilllast {
    width: 19%;
}

table.skills .pad1 {
    width: 5%;
}

table.skills .pad2,
table.skills .pad3 {
    width: 1%;
}

.nodisplay {
    display: none;
}

div#document .topborder {
    padding-top: 2px;
    border-color: #030!important;
}

div#document div.sectiontitle {
    color: #030;
}

td.twocol_2 {
    border-left: 1px solid #FEFDFD;
}
/*Added by Amit for LCMAIN-955*/

.adnlLnks li:before {
    vertical-align: bottom;
}

.adnlLnks li.first:before {
    content: "";
}

div.adnlLnks {
    text-align: center
}

.adnlLnks li {
    list-style-type: disc;
    display: inline!important;
}
/*FIX for FORCEFULLY making left margin ZERO for CL*/

div#document .sectionCL .paragraph {
    margin-top: 0!important;
}